################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Part 1 - The Beginning (SK)/.vs/sk-console
/Part 1 - The Beginning (SK)/bin/Debug/net8.0
/Part 1 - The Beginning (SK)/obj
